<form action="/addToCart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="site-btn btn-line" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>