<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>
        <div class="page-info-section page-info">
            <div class="container">
                <div class="site-breadcrumb">
                    <h1 style="text-align: center;">404 error Page Not Found</h1>
                </div>
                <img src="img/page-info-art.png" alt="" class="page-info-art">
            </div>
        </div>

        <%- include('includes/foot.ejs') %>