<%- include('includes/head.ejs') %>

    <%- include('includes/nav.ejs') %>

        <!-- Page Info -->
        <div class="page-info-section page-info">
            <div class="container">
                <div class="site-breadcrumb">
                    <a href="/">Home</a> /
                    <span>Orders</span>
                </div>
                <img src="img/page-info-art.png" alt="" class="page-info-art">
            </div>
        </div>
        <!-- Page Info end -->


        <!-- Page -->
        <div class="page-area contact-page">
            <div class="container spad">
                <div class="text-center">
                    <h4 class="contact-title">Your order is placed Successfully</h4>
                    <h6 class="contact-title">For any inquery, please feel free to <a href="/contactUs">contact us</a></h6>
                </div>
                <div class="container contact-info-warp">
                    <div class="contact-card">
                        <div class="contact-info">
                            <h4>Shipping & Returnes</h4>
                            <p>Phone: +53 345 7953 32453</p>
                            <p>Email: yourmail@gmail.com</p>
                        </div>
                        <div class="contact-info">
                            <h4>Informations</h4>
                            <p>Phone: +53 345 7953 32453</p>
                            <p>Email: yourmail@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="map-area">
                    <div class="map" id="map-canvas"></div>
                </div>
            </div>
        </div>
        </div>
        <!-- Page end -->


        <%- include('includes/foot.ejs') %>