<%- include('includes/head.ejs') %>

    <%- include('includes/nav.ejs') %>

        <!-- Page Info -->
        <div class="page-info-section page-info">
            <div class="container">
                <div class="site-breadcrumb">
                    <a href="/">Home</a> /
                    <span>Registration</span>
                </div>
                <img src="img/page-info-art.png" alt="" class="page-info-art">
            </div>
        </div>
        <!-- Page Info end -->


        <!-- Page -->
        <div class="page-area contact-page">
            <div class="container spad">
                <div class="text-center">
                    <h4 class="contact-title">Register Now & Start Shopping</h4>
                </div>
                <form class="contact-form" method="POST" action="/postRegistration">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="row">
                        <div class="col-md-6">
                            <input name="fname" type="text" placeholder="First Name *">
                        </div>
                        <div class="col-md-6">
                            <input name="lname" type="text" placeholder="Last Name *">
                        </div>
                        <div class="col-md-6">
                            <input name="email" type="email" placeholder="Email *">
                        </div>
                        <div class="col-md-6">
                            <input name="number" type="text" placeholder="phone number *">
                        </div>
                        <div class="col-md-6">
                            <input name="password" type="password" placeholder="password *">
                        </div>
                        <div class="col-md-6">
                            <input name="confirmPassword" type="password" placeholder="confirmPassword *">
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <button class="site-btn">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container contact-info-warp">
                <div class="contact-card">
                    <div class="contact-info">
                        <h4>Shipping & Returnes</h4>
                        <p>Phone: +53 345 7953 32453</p>
                        <p>Email: yourmail@gmail.com</p>
                    </div>
                    <div class="contact-info">
                        <h4>Informations</h4>
                        <p>Phone: +53 345 7953 32453</p>
                        <p>Email: yourmail@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="map-area">
                <div class="map" id="map-canvas"></div>
            </div>
        </div>
        <!-- Page end -->


        <%- include('includes/foot.ejs') %>